<div class="contacts-page">
  <div class="contacts-page__container">
    <ul class="contacts-page__">
      <li>
        <h2 class="contacts-page__title">
          Website Adress:
        </h2>
        <span class="contacts-page--text"
          >Tudoo.domain.ucoz.freesite.github.rutracker.io</span
        >
      </li>
      <li>
        <h2 class="contacts-page__title">Adress:</h2>
        <span class="contacts-page--text"
          >Todos Santos, Baja California Sur, Mexico</span
        >
      </li>
      <li>
        <h2 class="contacts-page__title">
          Website Contact Phone Number:
        </h2>
        <span class="contacts-page--text">911</span>
      </li>
    </ul>
  </div>
</div>
