<div class="home-page">
  <div class="home-page__container">
    <h2 class="home-page__title">
      Introducing 'the best TODO app' in my humble opinion!
    </h2>
    <div class="home-page__text">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium
        magni aliquid illo enim adipisci deserunt architecto cumque libero animi
        perferendis ab esse et obcaecati nostrum cum nisi nemo tenetur, harum
        quibusdam suscipit praesentium possimus vel explicabo facere! Qui
        incidunt illum accusantium officia excepturi alias quibusdam amet id
        ducimus nesciunt laboriosam laudantium nostrum voluptatum voluptatibus
        consectetur iusto delectus quos deleniti saepe ipsum aspernatur,
        voluptate nemo unde. Sapiente ad amet iure iusto iste voluptate
        similique eum quae explicabo nam? Error alias omnis quisquam sunt hic
        quas, deleniti quos beatae voluptatum officia commodi maxime distinctio
        neque eius dolorem. Quibusdam, maiores excepturi perferendis
        voluptatibus nam optio reiciendis accusamus sunt, sint omnis tempora
        incidunt veritatis, velit dolorum iste suscipit eum nobis dolore
        nesciunt minus officia nihil. Incidunt alias voluptatem hic ducimus
        nostrum esse est quisquam dolores sint cum nam at vero magnam,
        accusantium voluptatibus facilis labore odio nulla velit consequatur
        accusamus odit doloribus distinctio. Odio?
      </p>
    </div>
    <h2 class="home-page__title">
      Why this app? Well... I don't know actually
    </h2>
    <div class="home-page__text">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis dolor
        quod ipsa enim quidem accusantium, hic iure laboriosam veritatis?
        Laudantium molestiae aut, ut optio maiores distinctio soluta ex nihil
        praesentium fugit laboriosam tenetur dignissimos repudiandae numquam
        minus commodi expedita? Consectetur unde magni illo perspiciatis
        tenetur, adipisci molestiae in doloribus dolore vel, nihil et
        consequatur dicta. Suscipit voluptas nisi itaque. Sed quam dolorum ipsa
        quisquam impedit iste non qui suscipit magni, corporis aliquid nostrum
        id. Necessitatibus a mollitia tenetur at temporibus totam ipsa quam
        fugit suscipit molestias asperiores numquam excepturi deleniti incidunt,
        alias, ea similique consequatur fugiat! Repudiandae voluptatum corrupti
        dolorum!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt iure,
        deserunt ipsa non numquam blanditiis expedita voluptas error itaque in
        quibusdam, necessitatibus molestias unde dicta omnis quo quia. Magni,
        laborum commodi fugiat minima nesciunt repellendus amet accusamus et nam
        nobis eos autem ipsam facilis, quos voluptate officia nemo architecto.
        Doloremque, praesentium fugit recusandae cupiditate repellat ipsa
        inventore minus, nobis, eius unde vel? Ipsa laudantium eaque minima
        sapiente fugiat possimus! Reiciendis aliquam ab aperiam! Facilis ex fuga
        debitis quis quidem obcaecati maiores. Exercitationem earum nam in
        doloribus ut consequatur neque quod!
      </p>
    </div>
    <h2 class="home-page__title">
      You still reading this?
    </h2>
    <div class="home-page__text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, nihil
        eos! Mollitia sed cum sapiente, sint voluptas quia dolor odio distinctio
        sunt nisi natus nobis ea pariatur error officiis aspernatur a molestias
        facere veritatis asperiores assumenda. Accusantium est saepe quaerat eos
        iure voluptates unde. Eveniet pariatur maiores nemo est recusandae!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo
        blanditiis ipsam dicta sunt voluptatum eos iusto eligendi officiis iure
        dignissimos obcaecati culpa vero debitis, animi autem atque similique
        itaque. Corrupti optio doloremque quo, modi ad iste id eum nobis
        quaerat, iure rem dolore temporibus vero quod voluptate dignissimos
        animi commodi quidem repudiandae debitis. Corrupti aspernatur
        voluptatibus eum, at vero, nobis est cumque aperiam hic consectetur
        quam, beatae doloribus cum mollitia iusto odio necessitatibus sequi
        veniam deserunt fugiat. Voluptatum voluptas, placeat modi labore
        pariatur nobis dolorem ex ipsa suscipit ea id ducimus laudantium
        dignissimos magnam. Modi repellat aliquid recusandae asperiores ullam
        sed perferendis voluptas amet alias quae hic accusantium, quasi quo,
        labore in consequatur esse eligendi debitis? Molestiae perferendis, ab
        quisquam impedit placeat obcaecati sed facilis minus suscipit iste id
        fugit delectus maxime, vel quo! Doloribus perspiciatis adipisci corrupti
        dicta qui quia magnam laborum. Necessitatibus earum eveniet, fugit
        obcaecati laborum veniam cum quaerat esse pariatur, vel aperiam
        excepturi beatae porro quis ex consequuntur dolore numquam animi,
        deserunt blanditiis! Magni culpa molestiae nobis, saepe enim eos
        reiciendis rem tenetur obcaecati, quam deserunt.
      </p>
    </div>
  </div>
</div>
