.burger-menu {
    display: none;

    position: relative;
    right: 0;
    top: 0;
    z-index: 5;

    width: 100%;
    height: 10rem;

    background-color: #e7dacf;
}

.burger-menu__checkbox {
    position: absolute;
    z-index: 10;
    right: 3rem;
    top: 2rem;

    width: 6rem;
    height: 6rem;

    cursor: pointer;

    opacity: 0;
}

.burger-menu__icon--burger {
    position: absolute;
    z-index: 5;
    top: 2.2rem;
    right: 4.3rem;

    visibility: visible;

    font-size: 5rem;
}

.burger-menu__icon--cross {
    position: absolute;
    z-index: 5;
    top: 1.7rem;
    right: 4.3rem;

    visibility: hidden;

    font-size: 5.5rem;
}

.burger-menu__checkbox:checked~.burger-menu__icon--burger {
    visibility: hidden;
}

.burger-menu__checkbox:checked~.burger-menu__icon--cross {
    visibility: visible;
}

.burger-menu__checkbox:checked~.nav-mobile {
    width: 100%;
    height: 55rem;
    opacity: 1;
}