.interface-design {
    flex-basis: 25%;

    height: 33.6rem;

    text-align: center;
    color: #f1f1f1;
    background-color: #e4ae58;
}

.interface-design__cont {
    width: 100%;
    height: 100%;

    padding: 4.8rem 3.5rem;
}

.interface-design__logo {
    font-size: 4.2rem;
    color: #f7f7f7;
}

.interface-design__title {
    margin: 3.6rem 0 1.7rem;

    font-size: 2.6rem;
    font-weight: 300;
}

.interface-design__subtitle {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}