.header__inner {
    position: absolute;
    top: -78px;
    left: 0;
    right: 0;
    transform: rotate(-5deg);
    margin: auto;

    display: grid;
    grid-template-columns: repeat(18, 1fr);
    justify-items: center;
    align-items: center;
    z-index: 2;

    width: 80%;
    height: 100%;
}

.break-icons1 {
    grid-column: 3/19;
}

.break-icons2 {
    grid-column: 14/19;
}

.break-icons3 {
    grid-column: 1/12;
}

.sprite-icon {
    display: inline-block;
    margin: 3px;

    width: 50px;
    height: 50px;

    transform: scale(0.70);

    background-image: url(../img/icons.png);
}

.sprite-icon:nth-child(91n+1) {
    background-position: -32px -23px;
}

.sprite-icon:nth-child(91n+2) {
    background-position: -108px -23px;
}

.sprite-icon:nth-child(90n+4) {
    background-position: -184px -23px;
}

.sprite-icon:nth-child(90n+5) {
    background-position: -261px -23px;
}

.sprite-icon:nth-child(90n+6) {
    background-position: -337px -23px;
}

.sprite-icon:nth-child(90n+7) {
    background-position: -413px -23px;
}

.sprite-icon:nth-child(90n+8) {
    background-position: -490px -23px;
}

.sprite-icon:nth-child(90n+9) {
    background-position: -566px -23px;
}

.sprite-icon:nth-child(90n+10) {
    background-position: -644px -23px;
}

.sprite-icon:nth-child(90n+11) {
    background-position: -32px -107px;
}

.sprite-icon:nth-child(90n+12) {
    background-position: -108px -107px;
}

.sprite-icon:nth-child(90n+13) {
    background-position: -184px -107px;
}

.sprite-icon:nth-child(90n+14) {
    background-position: -261px -107px;
}

.sprite-icon:nth-child(90n+15) {
    background-position: -337px -107px;
}

.sprite-icon:nth-child(90n+16) {
    background-position: -413px -107px;
}

.sprite-icon:nth-child(90n+17) {
    background-position: -490px -107px;
}

.sprite-icon:nth-child(91n+18) {
    background-position: -566px -107px;
}

.sprite-icon:nth-child(91n+19) {
    background-position: -644px -107px;
}

.sprite-icon:nth-child(91n+20) {
    background-position: -32px -192px;
}

.sprite-icon:nth-child(91n+21) {
    background-position: -108px -192px;
}

.sprite-icon:nth-child(91n+22) {
    background-position: -184px -192px;
}

.sprite-icon:nth-child(91n+23) {
    background-position: -261px -192px;
}

.sprite-icon:nth-child(91n+24) {
    background-position: -337px -192px;
}

.sprite-icon:nth-child(25) {
    background-position: -413px -192px;
}

.sprite-icon:nth-child(26) {
    background-position: -490px -192px;
}

.sprite-icon:nth-child(27) {
    background-position: -566px -192px;
}

.sprite-icon:nth-child(28) {
    background-position: -644px -192px;
}

.sprite-icon:nth-child(29) {
    background-position: -32px -277px;
}

.sprite-icon:nth-child(30) {
    background-position: -108px -277px;
}

.sprite-icon:nth-child(31) {
    background-position: -184px -277px;
}

.sprite-icon:nth-child(32) {
    background-position: -261px -277px;
}

.sprite-icon:nth-child(33) {
    background-position: -337px -277px;
}

.sprite-icon:nth-child(34) {
    background-position: -413px -277px;
}

.sprite-icon:nth-child(35) {
    background-position: -490px -277px;
}

.sprite-icon:nth-child(36) {
    background-position: -566px -277px;
}

.sprite-icon:nth-child(37) {
    background-position: -644px -277px;
}

.sprite-icon:nth-child(38) {
    background-position: -32px -365px;
}

.sprite-icon:nth-child(39) {
    background-position: -108px -365px;
}

.sprite-icon:nth-child(40) {
    background-position: -184px -365px;
}

.sprite-icon:nth-child(41) {
    background-position: -261px -365px;
}

.sprite-icon:nth-child(42) {
    background-position: -337px -365px;
}

.sprite-icon:nth-child(43) {
    background-position: -413px -365px;
}

.sprite-icon:nth-child(44) {
    background-position: -490px -365px;
}

.sprite-icon:nth-child(45) {
    background-position: -566px -365px;
}

.sprite-icon:nth-child(46) {
    background-position: -644px -365px;
}

.sprite-icon:nth-child(47) {
    background-position: -32px -450px;
}

.sprite-icon:nth-child(48) {
    background-position: -108px -450px;
}

.sprite-icon:nth-child(49) {
    background-position: -184px -450px;
}

.sprite-icon:nth-child(50) {
    background-position: -261px -450px;
}

.sprite-icon:nth-child(51) {
    background-position: -337px -450px;
}

.sprite-icon:nth-child(52) {
    background-position: -413px -450px;
}

.sprite-icon:nth-child(53) {
    background-position: -490px -450px;
}

.sprite-icon:nth-child(54) {
    background-position: -566px -450px;
}

.sprite-icon:nth-child(55) {
    background-position: -644px -450px;
}

.sprite-icon:nth-child(56) {
    background-position: -32px -535px;
}

.sprite-icon:nth-child(57) {
    background-position: -108px -535px;
}

.sprite-icon:nth-child(58) {
    background-position: -184px -535px;
}

.sprite-icon:nth-child(59) {
    background-position: -261px -535px;
}

.sprite-icon:nth-child(60) {
    background-position: -337px -535px;
}

.sprite-icon:nth-child(61) {
    background-position: -413px -535px;
}

.sprite-icon:nth-child(62) {
    background-position: -490px -535px;
}

.sprite-icon:nth-child(63) {
    background-position: -566px -535px;
}

.sprite-icon:nth-child(64) {
    background-position: -644px -535px;
}

.sprite-icon:nth-child(65) {
    background-position: -32px -620px;
}

.sprite-icon:nth-child(66) {
    background-position: -108px -620px;
}

.sprite-icon:nth-child(67) {
    background-position: -184px -620px;
}

.sprite-icon:nth-child(68) {
    background-position: -261px -620px;
}

.sprite-icon:nth-child(69) {
    background-position: -337px -620px;
}

.sprite-icon:nth-child(70) {
    background-position: -413px -620px;
}

.sprite-icon:nth-child(71) {
    background-position: -490px -620px;
}

.sprite-icon:nth-child(72) {
    background-position: -566px -620px;
}

.sprite-icon:nth-child(73) {
    background-position: -644px -620px;
}

.sprite-icon:nth-child(74) {
    background-position: -32px -705px;
}

.sprite-icon:nth-child(75) {
    background-position: -108px -705px;
}

.sprite-icon:nth-child(76) {
    background-position: -184px -705px;
}

.sprite-icon:nth-child(77) {
    background-position: -261px -705px;
}

.sprite-icon:nth-child(78) {
    background-position: -337px -705px;
}

.sprite-icon:nth-child(79) {
    background-position: -413px -705px;
}

.sprite-icon:nth-child(80) {
    background-position: -490px -705px;
}

.sprite-icon:nth-child(81) {
    background-position: -566px -705px;
}

.sprite-icon:nth-child(82) {
    background-position: -644px -705px;
}

.sprite-icon:nth-child(83) {
    background-position: -32px -790px;
}

.sprite-icon:nth-child(84) {
    background-position: -108px -790px;
}

.sprite-icon:nth-child(85) {
    background-position: -184px -790px;
}

.sprite-icon:nth-child(86) {
    background-position: -261px -790px;
}

.sprite-icon:nth-child(87) {
    background-position: -337px -790px;
}

.sprite-icon:nth-child(88) {
    background-position: -413px -790px;
}

.sprite-icon:nth-child(89) {
    background-position: -490px -790px;
}

.sprite-icon:nth-child(90) {
    background-position: -566px -790px;
}

.sprite-icon:nth-child(91) {
    background-position: -644px -790px;
}

.header__outer {
    position: absolute;
    margin: 0 auto;
    top: -60px;
    left: 8px;
    z-index: 1;
    transform: rotate(-6deg);

    display: grid;
    grid-template-columns: 1fr 1fr 18fr 1fr 1fr;

    width: 99%;
    height: 100%;
}