<ng-container *ngIf="!(tasksIsLoading$ | async)">
	<!-- UPCOMING TASKS -->
	<div class="task-list">
		<app-task
			class="task-list__task"
			*ngFor="
				let task of taskList$
					| async
					| taskFilter: taskListService.searchString;
				let i = index
			"
			[task]="task"
			[index]="i"
		>
		</app-task>
	</div>

	<div
		class="task-list__line-separator"
		*ngIf="
			(taskList$ | async).length > 0 &&
			(taskListCompleted$ | async).length > 0
		"
	></div>

	<!-- COMPLETED TASKS -->
	<div class="task-list">
		<app-task
			class="task-list__task"
			*ngFor="
				let completedTask of taskListCompleted$
					| async
					| taskFilter: taskListService.searchString;
				let i = index
			"
			[task]="completedTask"
		>
		</app-task>
	</div>
</ng-container>

<!-- LOADER ANIMATION -->
<div class="task-list--loading lds-ellipsis" *ngIf="tasksIsLoading$ | async">
	<div></div>
	<div></div>
	<div></div>
	<div></div>
</div>
