<div class="task-builder">
  <!-- CLOCK -->
  <div class="task-builder__time">
    {{ time | date: "EEEE HH:mm" }}
  </div>

  <form
    autocomplete="off"
    #taskForm="ngForm"
    (ngSubmit)="buildTask(); addTask()"
  >
    <!-- TITLE -->
    <input
      class="task-builder__title"
      name="taskBuilder"
      type="text"
      maxlength="30"
      placeholder="Title"
      [(ngModel)]="title"
      required
      autofocus
    />

    <!-- DESCRIPTION -->
    <textarea
      class="task-builder__description"
      name="taskBuilder"
      maxlength="180"
      placeholder="Description"
      [(ngModel)]="description"
    >
    </textarea>

    <!-- CONFIRM BUTTON -->
    <button
      class="task-builder__add-task"
      type="submit"
      [class.task-builder__add-task--active]="title.length !== 0"
      [disabled]="title.length === 0"
    >
      Add task
    </button>

    <!-- CLEAR BUTTON -->
    <button
      class="task-builder__clear-input"
      type="button"
      [class.task-builder__clear-input--active]="canClear()"
      [disabled]="!canClear()"
      (click)="clearInput()"
    >
      Clear
    </button>
  </form>
</div>
