<div class="nav">
  <!-- CLOCK -->
  <div class="nav__time">
    {{ time | date: "EEEE HH:mm" }}
  </div>

  <form autocomplete="off">
    <!-- TITLE -->
    <input
      class="nav__title"
      type="text"
      maxlength="30"
      placeholder="Title"
      [(ngModel)]="title"
      name="taskBuilder"
      autofocus
    />

    <!-- DESCRIPTION -->
    <textarea
      class="nav__description"
      maxlength="60"
      placeholder="Description"
      [(ngModel)]="description"
      name="taskBuilder"
    >
    </textarea>

    <!-- CONFIRM BUTTON -->
    <button
      class="nav__add-task"
      [class.nav__add-task--active]="title.length !== 0"
      [disabled]="title.length === 0"
      (click)="buildTask(); addTask()"
    >
      Add task
    </button>

    <!-- CLEAR BUTTON -->
    <button
      class="nav__clear-input"
      [class.nav__clear-input--active]="
        title.length !== 0 || description.length !== 0
      "
      [disabled]="title.length === 0 && description.length === 0"
      (click)="clearInput()"
    >
      Clear
    </button>
  </form>
</div>
