.calendar {
    display: none;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding: 1.3rem 1.9rem;

    width: 38.5rem;
    height: 38.5rem;

    opacity: 0;
    user-select: none;

    font-size: 1.7rem;
    color: #cfcfcf;
    background-color: #262627;
    box-shadow: 0px 0px 64px -3px rgba(0, 0, 0, 0.64);

    transition: opacity 1s ease;
}

.calendar--loaded {
    opacity: 1;
}

.calendar__month {
    margin-right: 1rem;

    cursor: pointer;
}

.calendar__year {
    cursor: pointer;
}

.calendar__month--active,
.calendar__year--active {
    color: #00cc6a;
    transition: 0.1s;
}

.calendar__prev-month {
    display: inline-block;

    position: absolute;
    right: 8.5rem;
    top: 1.5rem;

    cursor: pointer;

    transform: rotate(135deg);
}

.calendar__next-month {
    display: inline-block;

    position: absolute;
    right: 3.6rem;
    top: 1rem;

    cursor: pointer;

    transform: rotate(-45deg);
}

.calendar__week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    margin: 3rem 0 1rem;

    text-align: center;
}

.calendar__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    margin: 0;

    text-align: center;
}

.calendar__grid-item {
    padding: 1.3rem 0;

    transition: 0.1s;
}

.calendar__grid-item--weekend {
    background-color: rgba(0, 204, 105, 0.03);
}

.calendar__grid-item--current {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(75, 75, 75, 0.4);
}

.calendar__grid-item--current::after {
    content: " ";
    position: absolute;
    z-index: 1;

    width: 90%;
    height: 90%;

    pointer-events: none;

    border: 0.3rem solid #262627ad;
}

.calendar__grid-item--grey {
    color: #5a5a5a;
}

.calendar__grid-item--highlight {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #f5f5f5;
    background-color: #00cc6a;

    transition: 0.2s;
}

.calendar__grid-item--highlight::after {
    content: " ";
    position: absolute;
    z-index: 1;

    width: 90%;
    height: 90%;

    pointer-events: none;

    border: 0.3rem solid #262627;

    transition: 0.2s;
}

.calendar__grid-item:hover {
    cursor: pointer;

    background: #5a5a5a;
}

.calendar__grid-item--grey:hover {
    cursor: pointer;

    color: #c9c9c9;
    background: #5a5a5a;
}

.calendar__grid-item--highlight:hover {
    cursor: pointer;

    color: #dfdfdf;
    background: #00964d;
}